* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2c34;
}

.ms_container {
    width: 75%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms_container>* {
    height: 60%;
}

.ms_items {
    position: relative;
    width: 100%;
    height: 100%;
}

.ms_item {
    height: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.ms_item img,
.ms_thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ms_item.ms_active {
    opacity: 1;
}

.ms_prev,
.ms_next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    cursor: pointer;
    z-index: 999;
}

.ms_prev {
    top: 0;
}

.ms_next {
    bottom: 0;
}

.ms_prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.ms_next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}


.ms_thumbnails {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ms_thumbnail {
    width: 100%;
    height: calc(100% / 5);
    opacity: 0.25;
    border: 2px solid transparent;
    cursor: pointer;
    transition: opacity 0.5s, border 0.5s;
}

.ms_active_thumbnail {
    opacity: 1;
    border-color: #d1d1e9;
}